<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>E</key>
    <string>E_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.ss01</key>
    <string>ampersand.ss01.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>k.ss01</key>
    <string>k.ss01.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.ss01</key>
    <string>m.ss01.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.ss01</key>
    <string>n.ss01.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one.ss01</key>
    <string>one.ss01.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r_t</key>
    <string>r_t.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcaron.ss01</key>
    <string>tcaron.ss01.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
