<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T_l</key>
    <string>T__l.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>apostrophe</key>
    <string>apostrophe.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>e.ss01</key>
    <string>e.ss01.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_t</key>
    <string>f_t.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.ss01</key>
    <string>k.ss01.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.ss01</key>
    <string>m.ss01.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.ss01</key>
    <string>n.ss01.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.ss01</key>
    <string>t.ss01.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcaron.ss01</key>
    <string>tcaron.ss01.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
